<!-- Supposons que votre composant s'appelle 'PartnershipComponent' -->
<div class="container my-5">
  <div class="row">
    <!-- Colonne pour l'image -->
    <div class="col-md-6">
      <img src="path/to/your/image.jpg" alt="Image description" class="img-fluid">
    </div>

    <!-- Colonne pour le texte et le bouton -->
    <div class="col-md-6 d-flex flex-column justify-content-center">
      <h2>Convention de partenariat</h2>
      <p>Vous êtes une entreprise et souhaitez faire bénéficier vos collaborateurs de tarifs promotionnels et attractifs, il vous suffit de nous contacter et de mettre en place une convention de partenariat entre nos deux entités.</p>
      <p>Cette convention profitera à vos salariés mais également à leurs conjoints et enfants !</p>
      <button (click)="demandeInfos()" class="btn btn-primary">Demande d’informations</button>
    </div>
  </div>
</div>
