


<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 slideInLeft"> <!-- Ajoutez la classe slideInLeft ici -->
      <div class="card">
        <div class="card-body">

          <h4 class="card-title">Données personnelles</h4>
          <p class="card-title-desc">Veuillez saisir les informations suivantes :</p>
          <form [formGroup]=" childForm" (ngSubmit)="saveChild()">
          <div class="mb-3 row">
            <label  class="col-md-2 col-form-label">Nom</label>
            <div class="col-md-10">
              <input class="form-control" type="text" formControlName="name">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="" class="col-md-2 col-form-label">Date de naissance</label>
            <div class="col-md-10">
              <input class="form-control"  type="date" formControlName="dateOfBirth">
            </div>
          </div>
          <div class="mb-3 row">
            <label>Gender</label>
            <select formControlName="gender" class="form-select">
              <option value="MALE">MALE</option>
              <option value="FEMALE">FEMALE</option>
            </select>
          </div>
          <div class="mb-3 row">
            <label  class="col-md-2 col-form-label">Adresse</label>
            <div class="col-md-10">
              <input class="form-control" type="text" formControlName="address">
            </div>
          </div>
          <div class="mb-3 row">
            <label  class="col-md-2 col-form-label">Nom du tuteur</label>
            <div class="col-md-10">
              <input class="form-control" type="text" formControlName="guardianName">
            </div>
          </div>
          <div class="mb-3 row">
            <label  class="col-md-2 col-form-label">Contact du tuteur</label>
            <div class="col-md-10">
              <input class="form-control" type="text" formControlName="guardianContact">
            </div>
          </div>

            <button type="submit" class="btn btn-success mt-5 mt-lg-0">Save</button>

          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 slideInRight"> <!-- Ajoutez la classe slideInRight ici -->
      <img src="../../../assets/images/usac/jannat.jpg" alt="Enfant jouant au football" class="img-fluid">
    </div>
  </div>
</div>








<footer class="text-light pt-4 pb-2" style="background-color: #4db6ac;">
  <div class="container">
    <div class="row">
      <!-- Contact Info -->
      <div class="col-md-4 mb-3">
        <a href="#" class="navbar-brand">
          <!-- Include your logo image here -->
          <img src="../../../assets/images/users/logo-usac.webp" height="75" width="150" >
        </a>
        <p>CSP Moulay ELHASSAN<br>
          14000 Ville Kénitra<br>
          Infoline: 06 25 90 62 72 / 06 57 99 29 13<br>
          by - Braincorporate.com ©2017</p>
      </div>

      <!-- Column for Univers Enfants Links -->
      <div class="col-md-3 mb-3">
        <h5>Univers Enfants</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Nos Académies</a></li>
          <li><a href="#" class="text-light">Stages Vacances</a></li>
          <li><a href="#" class="text-light">Urban Parc</a></li>
          <li><a href="#" class="text-light">Anniversaires</a></li>
        </ul>
      </div>

      <!-- Column for Univers Adultes Links -->
      <div class="col-md-3 mb-3">
        <h5>Univers Adultes</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Fitness & Natation</a></li>
          <li><a href="#" class="text-light">Location de terrains</a></li>
          <li><a href="#" class="text-light">Offre entreprise</a></li>
          <li><a href="#" class="text-light">Convention de partenariat</a></li>
        </ul>
      </div>

      <!-- Newsletter Signup -->
      <div class="col-md-2 mb-3">
        <h5>Newsletter</h5>
        <p>Inscrivez-vous à notre newsletter. Si vous voulez vous tenir informé(e) de l'actualité et événements</p>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="E-mail">
          </div>
          <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</footer>

<!-- Footer end -->


