<nav class="navbar navbar-expand-lg" style="background-color: #4db6ac;">
  <div class="container-fluid">

    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">
          <i class="fab fa-google-plus-g"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">
          <i class="fas fa-phone"></i> 0522 911 205 / 0615 399 496
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:contact@campussport.ma" style="color: white;">
          <i class="fas fa-envelope"></i> contact@campussport.ma
        </a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
  <div>
    <img src="assets/images/users/logo-usac.webp" height="75" width="150" >
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link  hover-underline-animation" href="#" style="color: #FF8C00; ">Accueil</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false" style="color: #1aa4a1;">
          Univers Adultes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <!-- Dropdown links -->
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" aria-expanded="false">
          Univers Enfants
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
          <button ngbDropdownItem class="dropdown-item" (click)="navigateToFoot()">Foot ball</button>
          <button ngbDropdownItem class="dropdown-item">Natation</button>
          <button ngbDropdownItem class="dropdown-item">Basket ball</button>
          <button ngbDropdownItem class="dropdown-item">Fight club</button>
          <button ngbDropdownItem class="dropdown-item">Gymnastique</button>
          <button ngbDropdownItem class="dropdown-item">Danse</button>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-toggle="dropdown" aria-expanded="false" style="color: #00008B;">
          Loisirs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
          <!-- Dropdown links -->
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #9370DB;">Contact</a>
      </li>
    </ul>
  </div>
</nav>


<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="/assets/images/usac/equip1.jpg" height="600" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="/assets/images/usac/equip2.jpg" height="600" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
</ngb-carousel>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="/assets/images/usac/ns.jpg" alt="Description">
        <div class="card-body">
          <h5 class="card-title">Qui sommes-nous</h5>
          <p class="card-text">USAC , Est une école de football et de basket-ball ainsi qu'un centre de divertissement et d'épanouissement (organisation des Kermesses) qui accueille des enfants âgés de 6 à 18 ans.</p>
          <a href="#" class="btn btn-primary">EN SAVOIR PLUS</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="/assets/images/usac/jannat.jpg" alt="Description">
        <div class="card-body">
          <h5 class="card-title">Nos activités</h5>
          <p class="card-text">USAC , Est une école de football et de basket-ball ainsi qu'un centre de divertissement et d'épanouissement (organisation des Kermesses) qui accueille des enfants âgés de 6 à 18 ans.</p>
          <a href="#" class="btn btn-primary">VOIR NOS ACTIVITÉS</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="/path/to/third-image.jpg" alt="Description">
        <div class="card-body">
          <h5 class="card-title">Devenir franchisé</h5>
          <p class="card-text">Vous souhaitez développer votre propre club et avoir vos propres clients ? La franchise Le P’tit Club, c’est une activité pérenne, rentable et évolutive !</p>
          <a href="#" class="btn btn-primary">+ D'INFOS SUR LA FRANCHISE</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <footer class="text-light pt-4 pb-2" style="background-color: #4db6ac;">

  <div class="container">
      <div class="row">
        <!-- Contact Info -->
        <div class="col-md-4 mb-3">
          <a href="#" class="navbar-brand">
            <!-- Include your logo image here -->
              <img src="assets/images/users/logo-usac.webp" height="75" width="150" >
          </a>
          <p>Complexe immobilier DALI<br>
            Route d’el jadida KM9<br>
            Rond point azbane - Casablanca.<br>
            Infoline: 05 22 911 205 / 0615 399 496<br>
            by - Braincorporate.com ©2017</p>
        </div>

        <!-- Column for Univers Enfants Links -->
        <div class="col-md-3 mb-3">
          <h5>Univers Enfants</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Nos Académies</a></li>
            <li><a href="#" class="text-light">Stages Vacances</a></li>
            <li><a href="#" class="text-light">Urban Parc</a></li>
            <li><a href="#" class="text-light">Anniversaires</a></li>
          </ul>
        </div>

        <!-- Column for Univers Adultes Links -->
        <div class="col-md-3 mb-3">
          <h5>Univers Adultes</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Fitness & Natation</a></li>
            <li><a href="#" class="text-light">Location de terrains</a></li>
            <li><a href="#" class="text-light">Offre entreprise</a></li>
            <li><a href="#" class="text-light">Convention de partenariat</a></li>
          </ul>
        </div>

        <!-- Newsletter Signup -->
        <div class="col-md-2 mb-3">
          <h5>Newsletter</h5>
          <p>Inscrivez-vous à notre newsletter. Si vous voulez vous tenir informé(e) de l'actualité et événements</p>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="E-mail">
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </footer>

  <!-- Footer end -->


