
.navbar-nav .nav-link {
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  font-size: 18px;
}
.card {
  margin-top: 20px;
}

.card-body .btn-primary {
  background-color: #FF8C00;
  border: none;
  margin-top: 15px;
}

.card-title {
  color: #333;
}

.card-text {
  color: #666;
}



/* Specific colors for each link */
.nav-link[href='#accueil']:hover {
  color: #FF8C00;
  text-decoration-color: #FF8C00; /* Underline Color */
}

.nav-link[href='#univers-adultes']:hover {
  color: #1aa4a1;
  text-decoration-color: #1aa4a1; /* Underline Color */
}

.nav-link[href='#univers-enfants']:hover {
  color: #00008B;
  text-decoration-color: #00008B; /* Underline Color */
}

.nav-link[href='#loisirs']:hover {
  color: #9370DB;
  text-decoration-color: #9370DB; /* Underline Color */
}

.nav-link[href='#contact']:hover {
  color: #32CD32;
  text-decoration-color: #32CD32;
}

.dropdown-item.active, .dropdown-item:hover {
  background-color: #666;
  color: #FFF;
}


.dropdown-item {
  background-color: #FFF;
  color: #000;
}
// img cartes

.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.card {

  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
}


// service
.service-section {
  background-color: #f1f1f1;
  color: #333;
  padding: 50px;
}
.icon {
  font-size: 24px;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
.title-container {
  background-color: #FF8C00;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  margin-bottom: 30px;
}

.service-title {
  color: #FFF;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}
 // adultes
.card {
  margin-top: 20px;
  overflow: hidden; /* Assure que tout débordement d'image est coupé */
  border-radius: 15px; /* Fournit des coins arrondis à la carte */
  transition: transform 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.card-img-overlay {
  background: rgba(0, 0, 0, 0.2); /* Semi-transparent overlay */
  border-radius: 15px; /* Ensure overlay has rounded corners like the card */
  bottom: 0; /* Align the overlay to the bottom of the card */
  transition: background 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.card-img-overlay:hover {
  background: rgba(0, 0, 0, 0.5); /* Darken the overlay on hover */
}

.card-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.card:hover {
  transform: scale(1.05); /* Slightly enlarge the card on hover */
}

/* Ensure the images cover the card area and are not stretched */
.card-img {
  height: 100%;
  object-fit: cover;
}

/* Style for the section title */
h2 {
  color: #ffffff; /* Adjust the color to match your design */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional text shadow for better readability */
}
// ysf
