.navbar-nav .nav-link {
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  font-size: 18px;
}
.card {
  margin-top: 20px; /* Adjust as necessary */
}

.card-body .btn-primary {
  background-color: #FF8C00; /* Use the color you want for buttons */
  border: none;
  margin-top: 15px; /* Adjust as necessary */
}

.card-title {
  color: #333; /* Your desired color for titles */
}

.card-text {
  color: #666; /* Your desired color for text */
}

::ng-deep .navbar-nav .ngb-dropdown-menu {
  background-color: #ffffff; /* Background color */
}

::ng-deep .dropdown-item:hover, .dropdown-item:focus {
  background-color: #ffcc00; /* Background color on hover */
  color: #000000; /* Text color on hover */
}
