<nav class="navbar navbar-expand-lg" style="background-color: #4db6ac;">
  <div class="container-fluid">

    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">
          <i class="fab fa-google-plus-g"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">
          <i class="fas fa-phone"></i> 06 25 90 62 72 / 06 57 99 29 13
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="usackenitra@gmail.com" style="color: white;">
          <i class="fas fa-envelope"></i> usackenitra@gmail.com
        </a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
  <div>
    <img src="assets/images/usac/usacpi.jpeg" height="75" width="150" >
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-around " id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link  hover-underline-animation" href="#" style="color: #FF8C00; ">Accueil</a>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"  type="button" aria-expanded="false">
          Univers Enfants
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
          <button ngbDropdownItem class="dropdown-item" (click)="navigateToFoot()">Foot ball</button>
          <button ngbDropdownItem class="dropdown-item">Basket ball</button>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3"  data-toggle="dropdown" aria-expanded="false" style="color: #00008B;">
          Loisirs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
          <!-- Dropdown links -->
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addChild" style="color:#008080 ;">Réserver</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #9370DB;">Contact</a>
      </li>
    </ul>
  </div>
</nav>


<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="/assets/images/usac/equip1.jpg" height="600" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="/assets/images/usac/equip2.jpg" height="600" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
</ngb-carousel>
<div class="container">
  <div class="row">
    <div class="col-md-4 animate-on-scroll">
      <div class="card">
        <img class="card-img-top" src="/assets/images/usac/ns.jpg" alt="Description">
        <div class="card-body">

          <p class="card-text">USAC , Est une école de football et de basket-ball ainsi qu'un centre de divertissement et d'épanouissement (organisation des Kermesses) qui accueille des enfants âgés de 6 à 18 ans.</p>
          <a href="#" class="btn btn-primary">Qui sommes-nous</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 animate-on-scroll">
      <h5 class="card-title"></h5>
      <div class="card">
        <img class="card-img-top" src="/assets/images/usac/carte2.jpg" alt="Description">
        <div class="card-body">
          <p class="card-text">USAC , Est une école de football et de basket-ball ainsi qu'un centre de divertissement et d'épanouissement (organisation des Kermesses) qui accueille des enfants âgés de 6 à 18 ans.</p>
          <a href="#" class="btn btn-primary">Nos activités</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 animate-on-scroll">
      <div class="card">
        <img class="card-img-top" src="/assets/images/usac/salut.jpg" alt="Description">
        <div class="card-body">

          <p class="card-text">Vous souhaitez développer votre propre club et avoir vos propres clients ? La franchise Le P’tit Club, c’est une activité pérenne, rentable et évolutive !</p>
          <a href="#" class="btn btn-primary">Devenir franchisé</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- services.component.html -->
<div class="container">
<div class="service-section">
  <div class="row">
    <div class="col-12">
      <div class="title-container">
        <h2 class="service-title">Services</h2>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <i class="icon wi-fi-icon">📶</i>
      <p>Wifi</p>
    </div>
    <div class="col-md-3 text-center">
      <i class="icon personal-coach-icon">✔️</i>
      <p>Coaching personnalisé</p>
    </div>
    <div class="col-md-3 text-center">
      <i class="icon collective-course-icon">✔️</i>
      <p>Cours collectifs avec encadrement</p>
    </div>
    <div class="col-md-3 text-center">
      <i class="icon water-bottle-icon">✔️</i>
      <p>Bouteilles d'eau</p>
    </div>
  </div>
</div>
</div>



<footer class="text-light pt-4 pb-2" style="background-color: #4db6ac;">
  <div class="container">
      <div class="row">
        <!-- Contact Info -->
        <div class="col-md-4 mb-3">
          <a href="#" class="navbar-brand">
            <!-- Include your logo image here -->
              <img src="assets/images/usac/usacpi.jpeg" height="75" width="150" >
          </a>
          <p>CSP Moulay ELHASSAN<br>
            14000 Ville Kénitra<br>
            Infoline: 06 25 90 62 72 / 06 57 99 29 13<br>
            by - Braincorporate.com ©2017</p>
        </div>

        <!-- Column for Univers Enfants Links -->
        <div class="col-md-3 mb-3">
          <h5>Univers Enfants</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Nos Académies</a></li>
            <li><a href="#" class="text-light">Stages Vacances</a></li>
            <li><a href="#" class="text-light">Urban Parc</a></li>
            <li><a href="#" class="text-light">Anniversaires</a></li>
          </ul>
        </div>

        <!-- Column for Univers Adultes Links -->
        <div class="col-md-3 mb-3">
          <h5>Univers Adultes</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Fitness & Natation</a></li>
            <li><a href="#" class="text-light">Location de terrains</a></li>
            <li><a href="#" class="text-light">Offre entreprise</a></li>
            <li><a href="#" class="text-light">Convention de partenariat</a></li>
          </ul>
        </div>

        <!-- Newsletter Signup -->
        <div class="col-md-2 mb-3">
          <h5>Newsletter</h5>
          <p>Inscrivez-vous à notre newsletter. Si vous voulez vous tenir informé(e) de l'actualité et événements</p>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="E-mail">
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </footer>

  <!-- Footer end -->


